<h3>
	<a [title]="product.name" [routerLink]="['/products', product.id]">
		{{ product.name }}
	</a>
</h3>
<p *ngIf="product.description">
	Description: {{product.description}}
</p>
<a href="https://t.me/share/url?url={{product.link}}&text={{product.description}}"><button (click)="share()">
    Share
  </button></a>
  <button (click)="removeItem(product.id)">Remove</button>
<ngb-rating [max]="5" [(rate)]="product.rating" [readonly]="false"></ngb-rating>

<p>
	<img [src]="product.image" class="image">
</p>
  <br><button class = "like " (click) = "like(product)" >Likes {{ product.likes }}</button>